.candidate-card{
  height: 300px;
  width: 200px;
  margin: 10px;
  z-index: 5;
  text-align: center;
  background-color: white;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.candidate-card:hover{
  background-color: rgba(238, 71, 141, 0.2);
}
.candidate-image{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-position: center;
  background-size: auto 130%;
  background-repeat: no-repeat;

}
